# Build Systems
# ---------------------
node_modules/
.sass_cache
*.css.map

# Directories
# ---------------------
src/img/
src/_layout/*
!src/_layout/layout.png
!src/_layout/layout_mobile.png

# Packages
# ---------------------
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip


# Logs
# ---------------------
*.log


# OS Files
# ---------------------
.DS_Store
.DS_Store
._*
ehthumbs.db
Thumbs.db