// Buttons
// ------------------------------------
.button-primary {
	position: relative;
	display: inline-block;
	width: auto;
	padding: rem-calc(10) rem-calc(15);
	font-size: rem-calc($button-font-size);
	color: white;
	background: none;
	border: none;
	box-shadow: 0 0 0 0 $yellow inset;
	@include transition-delay(1s);
	@include transition(700ms);
  
	.button-border,
	div.button-border {
		position: absolute;
		width: 50%;
		height: 2px;
		left: 50%;
		bottom: 0;
		margin-left: -25%;
		background: $dark-grey;
		@include transition(500ms);
		@include transition-delay(500ms);
	}

	.button-subtext,
	span.button-subtext {
		@include transition(700ms);
		color: $alt-grey;
	}
  
	&:hover {
		color: $medium-grey;
		box-shadow: 0 rem-calc(-100) 0 0 $yellow inset;
		@include transition-delay(500ms);

		.button-border,
		div.button-border {
			width: $w-100;
			margin-left: -50%;
			background: $yellow;
			@include transition(500ms);
		}

		.button-subtext,
		span.button-subtext {
			color: $medium-grey;
			@include transition-delay(500ms);
		}
	}
}

.button-secondary {
	display: inline-block;
	width: auto;
	padding: rem-calc(10) rem-calc(15);
	font-size: rem-calc($button-font-size);
	color: $white;
	background: none;
	border: 2px solid $white;
	box-shadow: 0 0 0 0 $white inset;
	@include transition(600ms ease);

	&:hover {
		color: $medium-grey;
		box-shadow: 0 rem-calc(-100) 0 0 $white inset;
	}
}

.submit-button {
	height: rem-calc(48);
	width: rem-calc(66);
	background-image: url(map-get($icons, email));
	background-color: $medium-grey;
	background-position: center;
	background-repeat: no-repeat;
	background-size: rem-calc(36);
	color: $white;
	border-radius: 0;
	border: none;
	@include transition(300ms ease);

	&:hover {
		background-image: url(map-get($icons, email-hover));
	}
}