// Header
// ------------------------------------
// To do:
// 1. link icons need hover state

.header {
	color: $white;
	background: $medium-grey;
	text-align: center;
	padding: rem-calc(150) 0;

	h5 {
		font-weight: 200;
		margin-bottom: rem-calc(30);
	}

	.header-links-container {
		text-align: center;
		max-width: rem-calc(225);
		margin: 0 auto;
	}

	.header-link {
		display: block;
		width: 50%;
		margin-top: rem-calc(30);
		float: left;
		text-align: center;
	}

	@media (#{$bp-larger-than-phablet}) {
		.header-links-container {
			max-width: rem-calc(750);
		}

		.header-link {
			width: 25%;
		}
	}
}