// Header
// ------------------------------------
.header {
	color: $medium-grey;
	background: $yellow;
	text-align: center;
	padding: rem-calc(150) 0;

	h5 {
		padding: 0 rem-calc(10);
		margin-bottom: rem-calc(30);
	}

	.container {
		max-width: rem-calc($alt-container-width);
	}

	.header-links-container {
		text-align: center;
		max-width: rem-calc(225);
		margin: 0 auto;
	}

	.header-link {
		display: block;
		width: 50%;
		margin-top: rem-calc(30);
		float: left;
		text-align: center;

		.icon-codepen-alt,
		.icon-linkedin-alt,
		.icon-github-alt,
		.icon-pdf-alt {
			position: relative;
			padding: 10px;
			border-radius: 30px;
			background-origin: content-box;

			&:before {
				content: "";
				position: absolute;
				width: 0%;
				bottom: 0;
				left: 0;
				height: rem-calc(3);
				background-color: $medium-grey;
				@include transition(.3s ease);
			}

			&:hover {
				&:before {
					width: 100%;
				}
			}
		}
	}

	@media (#{$bp-larger-than-phablet}) {
		.header-links-container {
			max-width: rem-calc(750);
		}

		.header-link {
			width: 25%;
		}
	}
}