// Intro section
// ------------------------------------
// To do:
// 1. Redo everything. This is horrible.
//    Who enjoy talking about themselves, really?

.intro {

	p {
		margin: 0;
	}

	h5 {
		display: inline-block;
		padding-bottom: rem-calc(3);
		margin: rem-calc(6) 0;
		border-bottom: 1px solid $light-grey;
	}

	.intro-header {
		padding: rem-calc(30) 0;
		background: $light-grey;
	}

	.intro-content {
		padding: rem-calc(54) 0;
	}

	.self-portrait {
		display: block;
		max-width: rem-calc(400);
		margin-bottom: rem-calc(24);
		box-shadow: none;
	}

	@media (#{$bp-larger-than-phablet}) {
		h5 {
			margin-bottom: rem-calc(12);
		}

		.self-portrait {
			margin-bottom: rem-calc(10);
			box-shadow: 10px 10px 0px -2px rgba(0,0,0,0.25);
		}
	}
}