// Utilities
// ------------------------------------
@include text-color('white' 'off-white' 'dark-grey' 'medium-grey' 'light-grey' 'alt-grey' 'yellow' 'red');

@for $i from 1 through 10 {
	$percent : $i * 10;

	.w-#{$percent} {
		width: $percent * 1%;
	}
}

.upper {
	text-transform: uppercase;
}

.italic {
	font-style: italic;
}

.bold {
	font-weight: 500;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.word-break {
	word-break: break-all;
	hyphens: auto;
}

.block {
	display: block;
}

.inline-block {
	display: inline-block;
}

.clearfix {
	*zoom: 1;

	&:before, &:after {
		content: " ";
		display: table;
	}

	&:after {
		clear: both;
	}
}

.keywords {
	margin-bottom: rem-calc(18);
	font-size: rem-calc(12);
	color: $dark-grey;
	
	span {
		display: inline-block;
		margin-right: rem-calc(6);
		margin-bottom: rem-calc(3);
		padding: rem-calc(1) rem-calc(6);
		border-radius: rem-calc(3);
		background: $yellow;
		border: 1px solid $yellow;
	}
}