/*!
* Custom CSS for Brandon Beasley's portfolio
* www.brandonbeasley.site
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 4/1/2016
*/

// Imports
// ------------------------------------
@import url(http://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500);
@import "settings";
@import "icons";
@import "utilities";
@import "buttons";
@import "header";
@import "intro-section";
@import "works-section";
@import "socials-section";
@import "contact-section";
@import "footer";


// Layout
// ------------------------------------
body {
	color: $medium-grey;
	background: $white;
	font-family: $raleway;
	font-size: rem-calc(16);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	h1, h2, h5 {
		font-weight: 300;
	}

	h1 {
		letter-spacing: 2px;
		margin-bottom: rem-calc(9);
	}

	h2 {
		margin-bottom: rem-calc(3);
	}

	h5 {
		margin-bottom: 0;
		letter-spacing: 1px;
		color: $alt-grey;
	}

	@media (#{$bp-larger-than-phablet}) {
		h1 { font-size: rem-calc(72); }
	}

	a {
		text-decoration: none;
	}

	a.button-primary,
	a.button-secondary {
		cursor: pointer;
	}

	img {
		width: $w-100;
	}
}