/*!
* Custom CSS for Brandon Beasley's portfolio
* www.brandonbeasley.site
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 4/1/2016
*/

// Imports
// ------------------------------------
@import url(http://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500);
@import "settings";
@import "icons";
@import "utilities";
@import "buttons";
@import "intro-section";
@import "works-section";
@import "socials-section";
@import "contact-section";


// Layout
// ------------------------------------
body {
	color: $medium-grey;
	background: $white;
	font-family: $raleway;
	font-size: rem-calc(16);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	h1, h2, h5 {
		font-weight: 300;
	}

	h1 {
		letter-spacing: 2px;
		margin-bottom: rem-calc(9);
	}

	h2 {
		margin-bottom: rem-calc(3);
	}

	h5 {
		margin-bottom: 0;
		letter-spacing: 1px;
		color: $alt-grey;
	}

	@media (#{$bp-larger-than-phablet}) {
		h1 { font-size: rem-calc(60); }
	}

	a {
		text-decoration: none;
	}

	a.button-primary,
	a.button-secondary {
		cursor: pointer;
	}

	img {
		width: $w-100;
	}
}

// Header
.header {
	color: $white;
	background: $medium-grey;
	text-align: center;
	padding: rem-calc(150) 0;

	h5 {
		font-weight: 200;
	}

	.bracket {
		display: none;
		color: $yellow;
		font-weight: 400;
		padding: 0 rem-calc(6);
	}

	@media (#{$bp-larger-than-desktop}) {
		.bracket {
			display: inline-block;
		}
	}
}

// Footer
.footer {
	padding: rem-calc(36) 0;
	background: $medium-grey;
	color: $white;
	font-size: rem-calc(14);

	.container {
		max-width: rem-calc(960);
	}

	a:hover {
		color: $yellow;
	}

	.copyright {
		margin-top: rem-calc(12);
	}

	@media (#{$bp-larger-than-phablet}) {
		.copyright{
			margin-top: 0;
			text-align: right;
		}
	}
}