// Imports
// ------------------------------------
@import url(http://fonts.googleapis.com/css?family=Lato:300|Raleway:100,200,300,400,500);


// Globals
// ------------------------------------
$w-100		: 100%;
$h-100		: 100%;
$lato		: 'Lato', sans-serif;
$raleway	: 'Raleway', sans-serif;
$white 		: #ffffff;
$off-white	: #f5f4f3;
$dark-grey	: #1b1a1b;
$medium-grey: #2c2b2c;
$light-grey : #e5e5e5;
$text-grey	: #828282;
$yellow		: #fecf39;
$red		: #ff7979;


// Mixins
// ------------------------------------
@mixin transition($timing){
-webkit-transition: $timing;
-moz-transition: $timing;
transition: $timing;
}


// Functions
// ------------------------------------
@function rem-calc($px) {
	// Skeleton is based on 10px for rem.
	$remValue: $px / 10;
	@return #{$remValue}rem;
}


// CSS
// ------------------------------------
body {
	color: $medium-grey;
	background-color: $white;
	font-family: $raleway;
	font-size: rem-calc(18);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	h1 {
		font-size: rem-calc(60);
		font-weight: 300;
		letter-spacing: rem-calc(2);
		margin-bottom: rem-calc(9);
	}

	h2 {
		font-size: rem-calc(48);
		font-weight: 300;
		margin-bottom: rem-calc(3);
	}

	h5 {
		font-weight: 300;
	}
}

.container {
	max-width: 960px;
}

.header {
	width: $w-100;
	color: $white;
	background-color: $medium-grey;
	text-align: center;
	padding: rem-calc(96) 0;

	h5 {
		font-weight: 200;
	}
}

.socials {
	background: $medium-grey;
}

.contact {
	width: $w-100;
	padding-bottom: rem-calc(96);

	.sub-header {
		background: $light-grey;
		padding: rem-calc(96) 0 0 0;
		margin-bottom: rem-calc(30);
	}

	h5 {
		color: $text-grey;
		letter-spacing: 1px;
	}

	input {
		height: rem-calc(45);
	}

	textarea {
		min-height: rem-calc(192);
		resize: vertical;
	}

	input, textarea {
		background-color: $medium-grey;
		color: $white;
		padding: rem-calc(12) rem-calc(18);
		border-radius: 0;
		border: none;
		font-size: rem-calc(18);

		&::-webkit-input-placeholder {
			color: $text-grey;
		}

		&::-moz-placeholder {
			color: $text-grey;
		}

		&:-ms-input-placeholder {
			color: $text-grey;
		}

		&:-moz-placeholder {
			color: $text-grey;
		}

		&:focus {
			border: none;
			-webkit-box-shadow: inset 6px 0px 0px 0px $yellow;
			-moz-box-shadow: inset 6px 0px 0px 0px $yellow;
			box-shadow: inset 6px 0px 0px 0px $yellow;
		}
	}
}


// Utilities
// ------------------------------------
.upper {
	text-transform: uppercase;
}

.italic {
	font-style: italic;
}

.text-grey {
	color: $text-grey;
}